# Unileter alias
alias d='eog'
alias g='git'
alias m='make'
alias o='evince' #pdf viewer
alias p='python3'
alias ip='ipython3'
alias t='tmux'

# Navigation alias
alias cr='clear'
alias ll='ls -lha'
alias cdr='cd ..'
alias md='mkdir'
alias grep='grep --color'

# Snakemake alias
alias sm='snakemake'

# Python virtualenv alias
alias crenv='virtualenv venv -p /usr/bin/python3'
alias srenv='source venv/bin/activate'
